<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="impresora" class="com.formacionbdi.spring.di.constructor.Impresora">
        <property name="papel">
            <ref bean="hoja"/>
        </property>
    </bean>
    <bean id="hoja" class="com.formacionbdi.spring.di.constructor.Hoja">
        <constructor-arg type="java.lang.String" value="Hola Mundo Configurable Spring DI Constructor" />
    </bean>
</beans>
