/hola-mundo-jsp-video/target/
/hola-mundo-jsp-video/build/
/hola-mundo-jsp-javabeans-video2/build/
/JSPExamples/nbproject/private/
target/
dist/
build/
*build/
build/*
build
/catalogo-jsp/nbproject/private/

# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
